.content-login {
  padding: 2em;
  text-align: center;
}
.icon-button {
  font-size: 22px;
  margin-right: 10px;
}
.button-close {
  float: right;
  margin: 1em;
}

button {
  width: 2.2em;
  height: 2.2em;
  font-size: 2em;
}

.content-buttons {
  text-align: center;
}
