<div class="card shadow mb-4">
  <div class="card-header py-3">
    <div class="d-sm-flex align-items-center justify-content-between">
      <h6 class="mb-0 font-weight-bold text-primary">Cotizaciones realizadas</h6>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive mb-3">

      <table class="table table-bordered dataTable">
        <thead>
          <tr>
            <th></th>
            <th>No.</th>
            <th>Fecha de creación</th>
            <th>Fecha de expiración</th>
            <th>No. de Productos</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let quotation of quotations">
            <th class="text-center">
              <i class="fas fa-check-circle text-success" *ngIf="quotation.active"></i>
              <i class="fas fa-minus-circle text-warning" *ngIf="!quotation.active"></i>
            </th>
            <th class="text-center">
              {{quotation.idQuote}}
            </th>
            <th class="text-center">
              {{quotation.date | date }}
            </th>
            <th class="text-center">{{quotation.expiration | date }} </th>
            <th>
              {{quotation.productCount}}
            </th>
            <th>
              <button class="btn btn-sm btn-primary shadow-sm cursor-pointer" (click)="onClickViewQuotation(quotation)">
                <i class="fas fa-eye"></i>
              </button>
            </th>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-5">
        <div class="dataTables_info" aria-live="polite">
          Página {{pageActive}} de {{totalPages}} en total {{totalQuotations}} cotizaciones
        </div>
      </div>
      <div class="col-sm-12 col-md-7">
        <div class="dataTables_paginate paging_simple_numbers">
          <ul class="pagination">
            <li class="paginate_button page-item previous" [class.disabled]="pageActive==1">
              <a class="page-link cursor-pointer" (click)="onClickSubtractPage()">&lt;</a></li>
            <li class="paginate_button page-item" [class.active]="page===(pageActive).toString()"
              *ngFor="let page of pages">
              <a class="page-link cursor-pointer" (click)="onClickShowPage(page)">{{page}}</a></li>
            <li class="paginate_button page-item next" [class.disabled]="pageActive===totalPages">
              <a class="page-link cursor-pointer" (click)="onClickAddPage()">&gt;</a></li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>